/* CSS Document */
html,
body,
div,
span,
p,
h1,
h2,
h3,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dtsection,
nav,
news,
banner,
mode,
header {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-style: normal;
	box-sizing: border-box;
}

section,
nav,
news,
banner,
model,
header {
	display: block;
}

ul,
li,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: inline-block;
}

* {
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
/*头部*/
.dao{
	width:400px;
	height:66px;
	position:absolute;
	top:0;
	left:910px;
	}
.spant{
	padding-left: 20px;
	padding-right: 20px;
	background-color:#3d3d3d;
	display: inline-block;
	font-size:18px;
	color:#fff;
	line-height:66px;
	}
.dao1>li{
	float:left;
	}
.dao1>li a {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
	color: #fff;
	display: inline-block;
	line-height:66px;
}
.dao1>li a:hover{
		background:#3d3d3d;
		} 
.banner{
	width: 100%;
	height: 601px;
	background: url(../img/ttbj.jpg) no-repeat;
	background-position: center top;
	color: #FFF;
	}
/*个人信息*/
.ge{
	width:1200px;
	height:680px;
	padding: 72px 0;
	margin: 0 auto;
	}
.zuo{
	width:750px;
	height:600px;
	float:left;
	}
.gao{
	font-size:30px;
	color:#545454;}
.gao1{
	font-size:30px;
	padding-top:17px;
	font-family:"Arial",;
	color:#545454;
	}
.gao2{
	font-size:20px;
	padding-top:34px;
	color:#666666;
	}
.gao3{
	font-size:20px;
	padding-top:18px;
	color:#666666;
	}
.gao4{
	font-size:20px;
	padding-top:18px;
	color:#666666;
	padding-bottom:20px;
	}
.tb{
	width:390px;
	height:60px;
	margin-bottom:20px;
	}
.bei1{
	font-size:18px;
	color:#666666;}
.bei2{
	padding-top:17px;
	font-size:18px;
	color:#666666;
	}
.bei3{
	padding-top:15px;
	font-size:20px;
	color:#ff3600;}
.bei4{
	padding-top:22px;
	font-size:20px;
	color:#666666;
	font-family:"Arial",;}
.bei5{
	padding-top:13px;
	font-size:20px;
	color:#666666;
	font-family:"Arial",;}
.you{
	width: 437px;
	height: 531px;
	float:right;
	}
/*个人技能*/
.ji{
	width:100%;
	height:560px;
	margin:0 auto;
	background-color:#3d3d3d;
	}
.ji1{
	width:1200px;
	height:106px;
	text-align:center;
	color:#FFF;
	font-size:48px;
	padding-top:66px;
	margin:0 auto;}
.ji2{
	width:1200px;
	height:54px;
	text-align:center;
	color:#FFF;
	font-size:24px;
	padding-top:22px;
	margin:0 auto;}
.ji3{
	width:1200px;
	height:17px;
	margin:0 auto;
	padding-top:15px;}
.ji33{
	width:50px;
	height:2px;
	background:#FFF;
	margin:0 auto;}
.ji11{
	width:1200px;
	height:106px;
	text-align:center;
	color:#3d3d3d;
	font-size:48px;
	padding-top:140px;
	margin:0 auto;}
.ji21{
	width:1200px;
	height:88px;
	text-align:center;
	color:#3d3d3d;
	font-size:24px;
	padding-top:55px;
	margin:0 auto;}
.ji31{
	width:1200px;
	height:17px;
	margin:0 auto;
	padding-top:15px;
	padding-bottom:20px;}
.ji331{
	width:50px;
	height:2px;
	background:#3d3d3d;
	margin:0 auto;}
.ju{
	width:1200px;
	height:320px;
	margin:0 auto;
	padding-top:80px;}
.ju1{
	width:194px;
	height:230px;
	border-right:1px solid #8b8b8b;
	float:left;
	}
.ju11{
	width:194px;
	height:230px;
	float:left;
	}
.ju2{
	width:194px;
	height:30px;
	text-align:center;
	font-size:30px;
	color:#FFF;
	font-family:"Arial",;}
.ju3{
	width:194px;
	height:22px;
	margin:0 auto;
	margin-top:14px;
	}
.ju4{
	width:30px;
	height:2px;
	background:#c5c5c5;
	margin:0 auto;
	}
.ju5{
	width:142px;
	height:180px;
	font-size:12px;
	color:#FFF;
	margin: 0 auto;
	text-align:left;
	line-height:20px;
}
.a1{
	font-size:12px;
	color:#FFF;
	}
.a1:hover{
	text-decoration:underline;}
/*工作经验*/
.tb1{
	width: 35px;
	height: 42px;
	position: absolute;
	top: 1819px;
	right: 671px;
}
.gong{
	width:1200px;
	height:100px;
	margin: 0 auto;}
.gong1{
	width:1200px;
	height:100px;
	line-height:100px;
	font-size:18px;
	text-align:center;
	color:#666666;
	}
.xiang{
	width:100%;
	height:790px;
	background:#de0808;
	}
.tubiao{
	width:280px;
	height:640px;
	margin: 0 auto;
	padding-top:40px;
	float:left;
	}
.tuu{
	width:1200px;
	height:640px;
	margin: 0 auto;
	}
.tubiao1{
	width:280px;
	height:470px;
	border-right:1px solid #eb6b6b;
	float:left;
	}
.tubiao11{
	width:280px;
	height:470px;
	float:left;
	}
.tubiao2{
	width:280px;
	height:218px;
	background:url(../img/img_004.png) no-repeat;
	background-position:center top;
	}
.tubiao22{
	width:280px;
	height:218px;
	background:url(../img/img_0044.png) no-repeat;
	background-position:center top;
	}
.tubiao222{
	width:280px;
	height:218px;
	background:url(../img/img_00444.png) no-repeat;
	background-position:center top;
	}
.tubiao2222{
	width:280px;
	height:218px;
	background:url(../img/img_004444.png) no-repeat;
	background-position:center top;
	}
.tubiao3{
	width:280px;
	height:12px;
	margin:0 auto;
	font-size:12px;
	color:#FFF;
	text-align:center;}
.tubiao4{
	width:168px;
	height:27px;
	text-align:center;
	margin: 0 auto;
	line-height:18px;
	font-size:14px;
	color:#FFF;
	padding-top:10px;
	margin-bottom:33px;
	}
.tubiao5{
	width:165px;
	height:160px;
	text-align:left;
	margin: 0 auto;
	line-height:16px;
	font-size:12px;
	color:#FFF;
	}
.tubiao6{
	width:280px;
	height:60px;
	display:block;
	margin-top:50px;
	}
.tubiao6 a{
	width:81px;
	height:23px;
	margin:0 auto;
	display:block;
	margin-top:20px;
	background:url(../img/img_005.png) no-repeat;
	}
.tubiao6 a:hover{
	width:81px;
	height:23px;
	background:url(../img/img_006.png) no-repeat;}
/*案例展示*/
.tb11{
	width: 35px;
	height: 42px;
	position: absolute;
	top: 2700px;
	right: 671px;
}
.an1{
	width:100%;
	height:1000px;
	margin: 0 auto;
}
.ji11{
	width:1200px;
	height:106px;
	text-align:center;
	color:#3d3d3d;
	font-size:48px;
	padding-top:66px;
	margin:0 auto;}
.ji21{
	width:1200px;
	height:54px;
	text-align:center;
	color:#3d3d3d;
	font-size:24px;
	padding-top:22px;
	margin:0 auto;}
.ji31{
	width:1200px;
	height:17px;
	margin:0 auto;
	padding-top:15px;
	color:#3d3d3d;}
.alzs_4{width:380px; height:30px; float:left; margin:50px 0 0 415px;}
.aszs_6 a{width:78px; height:28px; margin-right:15px; line-height:20px;display:block;font-size:12px; color:#3d3d3d; font-family:"微软雅黑";  text-align:center; float:left;}
.aszs_6 a:hover{ color:#010101; border-bottom:2px solid #010101;}
.alas_7{width:1200px; height:700px;  float:left; margin-top:50px;}
.alas_8{width:387px; height:323px;  float:left; margin-right:19px;}
.alas_9{width:387px; height:256px; float:left;}
.alas_a9 a{width:387px; height:67px;  float:left; margin: 0 auto;}
.alas_a9 a{font-size:16px; color:#999; font-family:"微软雅黑"; text-align:center; line-height:70px;}
.alas_10{width:387px; height:323px;  float:right;}
.alas_a7{width:1200px; height:323px; float:left; }
.alas_a77{width:1200px; height:323px; float:left;}

/*.box{
	width:336px;
	height:112px;
	margin:0 auto;
	padding-top:20px;
	}
.box li a{
	float:left;
	display:inline-block;
	line-height:66px;
	padding:0 26px;
	color:#3d3d3d;
	font-size:14px;
	text-align:center;
	}
.box li a:hover{
	border-bottom:2px solid #3d3d3d;
	}
.box1{
	width:1200px;
	height:333px;
	margin: 0 auto;
}
.box2{
	width:357px;
	height:301px;
	float:left;
	margin-right:63px;
	}
.box22{
	width:357px;
	height:301px;
	float:left;
	}
.box3{
	width:356px;
	height:251px;
	background:url(../img/img_007.png) no-repeat;
 }
.box4{
	width:356px;
	height:46px;
	border:1px solid #ebebeb;
	text-align:center;
	line-height:46px;
	}
.box4 a{
	color:#3d3d3d;}
.box4 a:hover{
	width:356px;
	height:48px;
	background:#999999;
	color:#FFF;
	display:block;
	}*/
/*底栏*/
.ddi{
	width:100%;
	height:200px;
	background:#08090a;
	margin-top:800px;}
.dibu_31{
	width:111px;
	height:110px;
	margin: 0 auto;
	padding-top:60px;
	font-family:"Impact";
	color:#666666;
	font-size:26px;
	}
.dibu_41{
	width:900px;
	height:35px;
	margin:0 auto;
	text-align:center;
	line-height:24px;
	font-size:16px;
	color:#666666;}
.dibu_51{
	width:900px;
	height:35px;
	margin:0 auto;
	text-align:center;
	line-height:24px;
	font-size:14px;
	color:#666666;}
.di1{
	width:100%;
	height:45px;
	background:#141719;}
.di11{
	width:700px;
	height:42px;
	margin:0 auto;
}
.qq1{
	width:21px;
	height:23px;
	float:left;
	margin-top:10px;}
.qq11{
	width:118px;
	height:42px;
	float:left;
	font-size:14px;
	color:#666666;
	text-align:right;
	line-height:42px;
	margin-right:40px;}
.qq21{
	width:188px;
	height:42px;
	float:left;
	font-size:14px;
	color:#666666;
	text-align:right;
	line-height:42px;}
.dian1{
	width:21px;
	height:23px;
	float:left;
	margin-top:10px;
	margin-left:40px;}
.you1{
	width:26px;
	height:23px;
	float:left;
	margin-top:10px;
	margin-left:40px;}
/*悬浮窗口*/
.toolbar-item,.toolbar-layer{background:url(../img/toolbar.png) no-repeat;}
.toolbar{position:fixed;right:0px;bottom:50px;}/*假设网页宽度为1200px，导航条在右侧悬浮*/
.toolbar-item{display:block;width:52px;height:52px;margin-top:1px;position:relative;-moz-transition:background-position 0.2s;-ms-transition:background-position 0.2s;-o-moz-transition:background-position 0.2s;-webkit-moz-transition:background-position 0.2s;transition:background-position 0.2s;}
.toolbar-item:hover .toolbar-layer{opacity:1;filter:alpha(opacity=100);transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);}
.toolbar-item-weixin{background-position:0 -798px;}
.toolbar-item-weixin:hover{background-position:0 -860px;}
.toolbar-item-weixin .toolbar-layer{height:212px;background-position:0 0;}
.toolbar-item-feedback{background-position:0 -426px;}
.toolbar-item-feedback:hover{background-position:0 -488px;}
.toolbar-item-app{background-position:0 -550px;}
.toolbar-item-app:hover{background-position:0 -612px;}
.toolbar-item-app .toolbar-layer{height:194px;background-position:0 -222px;}
.toolbar-item-top{background-position:0 -674px;}
.toolbar-item-top:hover{background-position:0 -736px;}
.toolbar-layer{position:absolute;right:46px;bottom:-10px;width:172px;opacity:0;filter:alpha(opacity=0);
transform-origin: 95% 95%;-moz-transform-origin: 95% 95%;-ms-transform-origin: 95% 95%;-o-transform-origin: 95% 95%;-webkit-transform-origin: 95% 95%;transform:scale(0.01);
-moz-transform:scale(0.01);-ms-transform:scale(0.01);-o-transform:scale(0.01);-webkit-transform:scale(0.01);transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;-o-transition:all 0.2s;-webkit-transition:all 0.2s;}
